*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(31, 31, 30);
}
h1{
    margin: 0%;
    padding: 0%;
    color: black;
    font-size: 12em;

}
h1 span{
    display: table-cell;
    margin: 20px;
    padding: 2rem;
    animation: animate 3s ease infinite;

}
h1 span:nth-child(1){
    animation-delay: 0s;
}
h1 span:nth-child(2){
    animation-delay: 0.3s;
}
h1 span:nth-child(3){
    animation-delay: 0.6s;
}
h1 span:nth-child(4){
    animation-delay: 0.9s;
}
h1 span:nth-child(5){
    animation-delay: 1.2s;
}
h1 span:nth-child(6){
    animation-delay: 1.5s;
}
h1 span:nth-child(7){
    animation-delay: 1.8s;
}
h1 span:nth-child(8){
    animation-delay: 2.1s;
}
h1 span:nth-child(9){
    animation-delay: 2.4s;
}
h1 span:nth-child(10){
    animation-delay: 2.7s;
}
@keyframes animate{
    0%,100%{
        color: #fff;
        filter: blur(2px);
        text-shadow: 0 0 10px #ff9d00,
        0 0 20px rgb(89, 0, 255),
        0 0 400px #ff002b,
        0 0 80px #00ff44,
        0 0 120px #09f209,
        0 0 200px #005eff,
        0 0 300px #ff0019,
        0 0 340px #00f7ff,
        0 0 500px #ff0004,
        0 0 550px #a600ff;
    }
    5%,95%{
        color: black;
        filter: blur(0px);
        text-shadow: none;
    }
}
